.container {
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-height: 100vh;
}

.contentSection {
  display: flex;
  margin: 30px 0;
  flex-direction: row;
  flex-shrink: 0;
  align-items: flex-start;
  padding: 0 10px;
  flex-wrap: wrap;
  gap: 14px;
}

.centerContainer {
  align-items: start;
  justify-content: center;
}

.reportImage {
  width: 400px;
  height: 280px;
  border-radius: 20px;
}
