/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */


:root { font-family: "Inter Variable", Inter, system-ui, -apple-system, Segoe UI, Roboto, sans-serif; }


.container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  gap: 20px;
}

.flex {
  display: flex;
}

.center {
  align-items: center;
  justify-content: center;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}
